@import "variables";

// Global
body {
  margin: 0;
  padding: 0;
}

// Header
.headerContainer {
  height: 90px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  justify-content: space-between;
}

.linkContainer {
  display: flex;
  gap: 20px;
}

.movieMatesIcon {
  height: 70px;
  width: 70px;
  background-size: contain;
}

.headerLink {
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 700;
  user-select: none;
  transition: 0.2s;
  transform: translateZ(0);
}

.headerLink:hover {
  transform: scale(1.03) translate(0.5px, 0.5px);
  filter: brightness(80%);
}

// Theme change switch
.themeChangeSwitch {
  justify-self: end;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .themeChangeSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .themeChangeSlider {
    background-color: #696969;
  }

  input:checked + .themeChangeSlider:before {
    transform: translateX(26px);
  }
}

// Theme styles
body.light {
  background-color: map-get(map-get($themes, light), background);
  color: map-get(map-get($themes, light), text);
}

body.dark {
  background-color: map-get(map-get($themes, dark), background);
  color: map-get(map-get($themes, dark), text);
}

body.light .movieMatesIcon {
  background-image: url("./assets/LightModeLogo.png");
}

body.dark .movieMatesIcon {
  background-image: url("./assets/DarkModeLogo.png");
}

body.light .headerContainer {
  background-color: map-get(map-get($themes, light), primary);
  color: map-get(map-get($themes, light), text);
}

body.dark .headerContainer {
  background-color: map-get(map-get($themes, dark), primary);
  color: map-get(map-get($themes, dark), text);
}

body.light .headerLink {
  color: map-get(map-get($themes, light), text);
  background-color: map-get(map-get($themes, light), secondary);
}

body.dark .headerLink {
  color: map-get(map-get($themes, dark), text);
  background-color: map-get(map-get($themes, dark), secondary);
}
