$themes: (
 light: (
   text: #000000,
   background: #f0f5ff,
   primary: #0142b2,
   secondary: #bdd5ff,
   accent: #0158ef,
 ),
 dark: (
   text: #ffffff,
   background: #00050f,
   primary: #4d8efe,
   secondary: #001842,
   accent: #1068fe,
 ),
);